In [2]:
import pandas as pd

data = pd.read_csv('test.csv', index_col='PassengerId')
pd.value_counts(data['Sex'] == 'male')

True     577
False    314
Name: Sex, dtype: int64

In [28]:

print('Удалось выжить: ', pd.value_counts(data['Survived'])[1]/(pd.value_counts(data['Survived'])[0]+pd.value_counts(data['Survived'])[1]))
pd.value_counts(data['Survived'])

Удалось выжить:  0.3838383838383838

0    549
1    342
Name: Survived, dtype: int64

In [101]:
print(pd.value_counts(data['Pclass']==1)/pd.value_counts(data['Pclass']).sum())

False    0.757576
True     0.242424
Name: Pclass, dtype: float64

In [52]:
print('Среднее: ', data['Age'].mean())
print('Медиана: ', data['Age'].median())

Среднее:  29.69911764705882
Медиана:  28.0

In [94]:
print('Корреляция: ', data[['Parch','SibSp']].corr().iloc[0][1])

Корреляция:  0.41483769862015263

In [217]:
import re 
name = data[data['Sex'] =='female']['Name']

gr1 = name.str.findall(r'Miss. \w+')
gr2 = name.str.findall(r'Mrs. \w+')
group = gr1+gr2
mass = []
for i in group:
    if i == []:
        continue
    mass.append(re.findall(r'\w+', i[0])[1])
group = pd.Series(mass)

print(pd.value_counts(group))
name[20:30]

William      13
Anna          9
Mary          9
Elizabeth     6
Thomas        6
             ..
Harvey        1
Katie         1
Ruth          1
Solomon       1
Ernst         1
Length: 183, dtype: int64

PassengerId
42    Turpin, Mrs. William John Robert (Dorothy Ann ...
44             Laroche, Miss. Simonne Marie Anne Andree
45                        Devaney, Miss. Margaret Delia
48                            O'Driscoll, Miss. Bridget
50        Arnold-Franchi, Mrs. Josef (Josefine Franchi)
53             Harper, Mrs. Henry Sleeper (Myna Haxtun)
54    Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
57                                    Rugg, Miss. Emily
59                         West, Miss. Constance Mirium
62                                  Icard, Miss. Amelie
Name: Name, dtype: object